<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PerformanceTestGraphs.Services.TrialDivisionAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="PerformanceTestGraphs.Services.SieveOfEratosthenesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="PerformanceTestGraphs.Services.TrialDivision">
        <endpoint address="" behaviorConfiguration="PerformanceTestGraphs.Services.TrialDivisionAspNetAjaxBehavior" binding="webHttpBinding" contract="PerformanceTestGraphs.Services.TrialDivision"/>
      </service>
      <service name="PerformanceTestGraphs.Services.SieveOfEratosthenes">
        <endpoint address="" behaviorConfiguration="PerformanceTestGraphs.Services.SieveOfEratosthenesAspNetAjaxBehavior" binding="webHttpBinding" contract="PerformanceTestGraphs.Services.SieveOfEratosthenes"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="TrialDivisonVsSieveOfEratosthenes.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>